@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-logo {
  animation: spin 10s linear infinite;
  width: 100px; /* Default size */
  height: 100px;
}

@media (max-width: 768px) { /* Mobile screen breakpoint */
  .spin-logo {
      width: 70px; /* Adjust size for smaller screens */
      height: 70px;
  }
}
